body{
	background-color:powderblue;
}
p.white{
color:white; margin-left:25px; font-size:25px;
}
nav{
	text-align:right; padding:10px;
}
.red{
	background-color:tomato; padding-top:10px;
}
nav a{
	color:white; padding:10px; font-size:25px; text-decoration:none; 
}
.half{
	color:blue;
}
.soft{
	text-align:center;
}
.owl{
	text-align:center; background-color: white;    padding-top:50px;
    padding-bottom:50px;
    margin-left:auto;
    margin-right:auto;
	max-width:600px;

}
.place{
		text-align:center; background-color: white;    padding-top:25px;
    padding-bottom:40px;
    margin-left:auto;
    margin-right:auto;
	max-width:600px;

	}
button{
	margin:10px;
}
.mop{
	text-align:center; background-color: white;    padding-top:25px;
    padding-bottom:40px;
    margin-left:auto;
    margin-right:auto;
	margin-top:25px;
	max-width:600px;

}
footer{
	text-align:center; background-color:tomato;  margin-top:50px;  color:white; font-size:25px;
}
.right{
	text-align:center;
}
